page-home {
  font-family: "FranklinGothic";
  src: url("FranklinGothicDemi.ttf");
}

/* homescreen background image */
.makethissky {
}

.content-md{ 
	padding-left: 0px !important; 
	padding-right: 0px !important;
}

img{ 
	margin: 0 auto !important; 
	width: 200% !important;
	overflow: hidden;
	height: 50vh !important;
	
}

.titleText{ 
	font-family: cursive; 
	font-size: large; 
}

.title {
  text-align: center;
  padding-top: 5%;
}

img{

    height: 100vh;
    width: 50vh;
    margin: 0, auto;
    display: block;
}

.body {
  float: left;
  width: 50%;
}

h2 {
  color: #294B88;
  font-weight: 600;
  font-size: 30px;
}

h3 { 
  color: #294B88 !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  text-align: center !important;
  font-family: cursive !important;
  padding-bottom: 30px !important; 
}

// BUTTON
.next a {
  color: white;
}
.next {
  border-radius: 4px;
  background-color:#294B88;
  border: none;
  padding: 10px;
  margin: 10px;
  width: 200px;
  transition: all 0.5s;
  color: white;
}



.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}

#myButton{ 
	width: 60% !important;
	margin: 0 auto !important;
}

//button{
//  margin: 0 auto;
//  float:center;
//}