page-home {
  font-family: "FranklinGothic";
  src: url("FranklinGothicDemi.ttf");
}

.title {
  text-align: center;
  padding-top: 5%;
}

.body {
  float: left;
  width: 50%;
}

h2 {
  color: #294B88;
  font-weight: 600;
  font-size: 80px;
}

/*
#logo {
  background-image:url("src\pages\home\Logo.png");
  height: 30%;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
}
*/

// BUTTON
.next a {
  color: white;
}
.next {
  border-radius: 4px;
  background-color:#294B88;
  border: none;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  color: white;
}

.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}
