<ion-header>
    <ion-navbar>
      <ion-title>Itinerary</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>



        <section id="cd-timeline" class="cd-container">
          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <p>08:00</p>
                <p>AM</p>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <ion-card>

                  <img src="//a.travel-assets.com/lxweb/media-vault/310484_m.jpeg?v=104763">
                  <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="pin"></ion-icon>
                    </button>
                  </ion-fab>

                  <ion-item>
                    <ion-icon name="md-flower" item-start large></ion-icon>
                    <h2>Jungle Breakfast with Orangutans at Singapore Zoo</h2>
                    <p>11 Gold St, Singapore, 15793</p>
                  </ion-item>

                  <ion-item>
                    <span item-left>18 min</span>
                    <span item-left>(2.6 mi)</span>
                    <button ion-button icon-left clear item-end>
                      <ion-icon name="navigate"></ion-icon>
                      Start
                    </button>
                  </ion-item>

                </ion-card>
              </div>
            </div>
          </div>

          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <p>09:00</p>
                <p>AM</p>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <ion-card>

                  <img src="//a.travel-assets.com/lxweb/media-vault/203308_m.jpeg?v=104763">
                  <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="pin"></ion-icon>
                    </button>
                  </ion-fab>

                  <ion-item>
                    <ion-icon name="ios-bowtie" item-start large></ion-icon>
                    <h2>Universal Studios Singapore Ticket</h2>
                    <p>11 Gold St, Singapore, 15793</p>
                  </ion-item>

                  <ion-item>
                    <span item-left>18 min</span>
                    <span item-left>(2.6 mi)</span>
                    <button ion-button icon-left clear item-end>
                      <ion-icon name="navigate"></ion-icon>
                      Start
                    </button>
                  </ion-item>

                </ion-card>
              </div>
            </div>
          </div>

          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <p>10:00</p>
                <p>AM</p>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <ion-card>

                  <img src="//a.travel-assets.com/lxweb/media-vault/391958_m.jpeg?v=104763">
                  <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="ios-globe-outline"></ion-icon>
                    </button>
                  </ion-fab>

                  <ion-item>
                    <ion-icon name="football" item-start large></ion-icon>
                    <h2>Singapore City Pass</h2>
                    <p>256 Ha St, Singapore, 012345</p>
                  </ion-item>

                  <ion-item>
                    <span item-left>89 min</span>
                    <span item-left>(6.4 mi)</span>
                    <button ion-button icon-left clear item-end>
                      <ion-icon name="navigate"></ion-icon>
                      Start
                    </button>
                  </ion-item>

                </ion-card>
              </div>
            </div>
          </div>

          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <p>11:00</p>
                <p>AM</p>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <ion-card>

                  <img src="//a.travel-assets.com/lxweb/media-vault/237535_m.jpeg?v=104763">
                  <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="pin"></ion-icon>
                    </button>
                  </ion-fab>

                  <ion-item>
                    <ion-icon name="md-flame" item-start large></ion-icon>
                    <h2>Sentosa Island Afternoon Tour with Wings of Time Priority Seating</h2>
                    <p>27 Win St, Singapore, 012345</p>
                  </ion-item>

                  <ion-item>
                    <span item-left>89 min</span>
                    <span item-left>(6.4 mi)</span>
                    <button ion-button icon-left clear item-end>
                      <ion-icon name="navigate"></ion-icon>
                      Start
                    </button>
                  </ion-item>

                </ion-card>
              </div>
            </div>
          </div>

          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <p>01:00</p>
                <p>PM</p>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <ion-card>

                  <img src="//a.travel-assets.com/lxweb/media-vault/203356_m.jpeg?v=104763">
                  <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="pin"></ion-icon>
                    </button>
                  </ion-fab>

                  <ion-item>
                    <ion-icon name="ios-funnel-outline" item-start large></ion-icon>
                    <h2>High Tea at The Fullerton Hotel Singapore and Historic Half-Day Tour</h2>
                    <p>27 Win St, Singapore, 012345</p>
                  </ion-item>

                  <ion-item>
                    <span item-left>89 min</span>
                    <span item-left>(6.4 mi)</span>
                    <button ion-button icon-left clear item-end>
                      <ion-icon name="navigate"></ion-icon>
                      Start
                    </button>
                  </ion-item>

                </ion-card>
              </div>
            </div>
          </div>

          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <p>03:00</p>
                <p>PM</p>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <ion-card>

                  <img src="//a.travel-assets.com/lxweb/media-vault/337710_m.jpeg?v=104763">
                  <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="pin"></ion-icon>
                    </button>
                  </ion-fab>

                  <ion-item>
                    <ion-icon name="ios-podium" item-start large></ion-icon>
                    <h2>Sentosa Segway Tour</h2>
                    <p>34 Win St, Singapore, 012345</p>
                  </ion-item>

                  <ion-item>
                    <span item-left>89 min</span>
                    <span item-left>(6.4 mi)</span>
                    <button ion-button icon-left clear item-end>
                      <ion-icon name="navigate"></ion-icon>
                      Start
                    </button>
                  </ion-item>

                </ion-card>
              </div>
            </div>
          </div>

          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <p>05:00</p>
                <p>PM</p>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <ion-card>

                  <img src="//a.travel-assets.com/lxweb/media-vault/405834_m.jpeg?v=104763">
                  <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="pin"></ion-icon>
                    </button>
                  </ion-fab>

                  <ion-item>
                    <ion-icon name="ios-globe-outline" item-start large></ion-icon>
                    <h2>Sands SkyPark and Gardens by the Bay with Lau Pa Sat Night Out</h2>
                    <p>34 Win St, Singapore, 012345</p>
                  </ion-item>

                  <ion-item>
                    <span item-left>89 min</span>
                    <span item-left>(6.4 mi)</span>
                    <button ion-button icon-left clear item-end>
                      <ion-icon name="navigate"></ion-icon>
                      Start
                    </button>
                  </ion-item>

                </ion-card>
              </div>
            </div>
          </div>

          <div ng-repeat="activity in timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
                <p>07:00</p>
                <p>PM</p>
              </div>
              <!-- cd-timeline-img -->
              <div class="cd-timeline-content dark">
                <ion-card>

                  <img src="//a.travel-assets.com/lxweb/media-vault/203378_m.jpeg?v=104763">
                  <ion-fab right top>
                    <button ion-fab>
                      <ion-icon name="pin"></ion-icon>
                    </button>
                  </ion-fab>

                  <ion-item>
                    <ion-icon name="ios-cart" item-start large></ion-icon>
                    <h2>Chinatown at Night with Dinner and Cruise</h2>
                    <p>34 Win St, Singapore, 012345</p>
                  </ion-item>

                  <ion-item>
                    <span item-left>89 min</span>
                    <span item-left>(6.4 mi)</span>
                    <button ion-button icon-left clear item-end>
                      <ion-icon name="navigate"></ion-icon>
                      Start
                    </button>
                  </ion-item>

                </ion-card>
              </div>
            </div>
          </div>

        </section>




  </ion-content>