page-challenges {

}
ion-scroll[scrollX] {
  white-space: nowrap;
  .scroll-item {
    display: inline-block;
  }
}

#skyline{
	height: 150px !important;
	width: auto;
}

.scroll-content{
	padding: 0px !important;
}
    